body {
    background-color: #e3f0ff;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    accent-color:#394d6c;
}

div {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
}

button {
    font-size: larger;
}

select {
    font-size: xx-large;
    margin-bottom: 1em;
    color: white;
    background-color: #394d6c;
}

img {
    max-width: 8em;
}
