body {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    text-align: center;
}

button {
    font-size: x-large;
}

select {
    font-size: xx-large;
    margin-bottom: 1em;
}

img {
    max-width: 8em;
}
